/ = form_for @user do |f|
/   - if @user.errors.any?
/     #error_explanation
/       %h2.heading
/         = pluralize(@user.errors.count, "error")
/         prohibited
/         this user from being saved:
/       %ul
/         - @user.errors.full_messages.each do |msg|
/           %li= msg
/   %p.field
/     = f.label :email
/     %br/
/     = f.text_field :email
/   %p.field
/     = f.label :role
/     %br/
/     = f.select :role, options_for_role
/   %p.field-up
/     = f.submit

= simple_form_for @user do |f|
  %p.field
    = label_tag 'Email'
    = f.input :email, label: false
  %p.field
    = label_tag 'Role'
    =f.input :role, collection: options_for_role, label: false, include_blank: false
  - unless @user.id
    %p.field
      = label_tag 'Password'
      =f.input :password, label: false
  = f.submit 'Save'