<div class="promo-form promo-form-center">

  <h1 class="heading">Listing Users</h1>

  <span class="add-new"><%= link_to 'add new user', new_user_path %></span>

  <div class="table-wrapper">
    <table class="table-in users-table">
      <tr class="table-in__first-tr">
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
     
      <% @users.each do |user| %>
        <tr>
          <td data-label="ID"><%= user.id %></td>
          <td data-label="Email"><%= user.email %></td>
          <td data-label="Role"><%= user.role?('admin') ? 'Admin' : 'Waiter' %></td>
          <td class="no-padding-right"><button class="button button-show"><%= link_to 'Show', user_path(user) %></button></td>
          <td class="no-padding-right padding-left"><button class="button button-edit"><%= link_to 'Edit', edit_user_path(user) %></button></td>
          <td class="no-padding-right padding-left"><button class="button button-delete">
            <%= link_to 'Destroy', user_path(user),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
          </button></td>
        </tr>
      <% end %>
    </table>
  </div>


</div>