<div class="promo-form promo-form-center">

	<p class="table-text">
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>
	 
	<p class="role">
	  <strong>Role:</strong>
	  <%= @user.role?('admin') ? 'Admin' : 'Waiter' %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>

</div>