= simple_form_for(@order) do |f|
  %p.field
    = label_tag 'Base' 
    = f.input :based, collection: options_for_based, label: false
  %p.field
    = label_tag 'Fruit'
    = f.input :aqua, collection: options_for_aqua, label: false
  %p.field
    = label_tag 'Place'
    = f.input :place_id, collection: Place.order(:name).all.map{|p| [p.name, p.id]}, label: false   
  = f.button :submit, "Submit"