%div.table-wrapper.table-month_datas-wrapper
  - @report.each do |month_data|
    %table.table-in
      %tr.tr-month
        %td{colspan: 3}= month_data[:period_name]
        %td.td-place-name{colspan: (month_data[:period_end]-month_data[:period_start]+5).to_i}= @place.name
      %tr.tr-figures
        %td{colspan: 3, rowspan: 2} Shishas
        - (month_data[:period_start]..month_data[:period_end]).each do |day|
          %td=day.strftime('%a').first 
        %td.td-total-color{rowspan: 2} Total/type
        %td.td-total-color.min-width{rowspan: 2} $ by type
        %td.td-total-color.min-width{rowspan: 2} Total mois
        %td.td-total-color.min-width{rowspan: 2} Total $
      %tr.tr-figures
        - (month_data[:period_start]..month_data[:period_end]).each do |day|
          %td=day.strftime('%d')
      - (1..12).each do |id|
        %tr
          -if id.in?([1,4,7,10])
            %td{rowspan: 3}= month_data[:variants][id-1].first
          %td= month_data[:variants][id-1].second
          %td= @place.send(month_data[:variants][id-1].join('_'))
          - (month_data[:period_start]..month_data[:period_end]).each do |day|
            %td= month_data[:counts]["(\"#{day.to_time.to_s(:db)}\",#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0
          %td= month_data[:totals]["(#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0
          %td= month_data[:total_profits]["(#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0
          -if id.in?([1,4,7,10])
            %td{rowspan: 3}= month_data[:sum_total][month_data[:variants][id-1].first] || 0 
            %td{rowspan: 3}= month_data[:sum_total_profits][month_data[:variants][id-1].first] || 0
      %tr
        %td{colspan: 2} Watermelon hookah
        %td= @place.watermelon_hookan
        - (month_data[:period_start]..month_data[:period_end]).each do |day|
          %td= month_data[:watermelon_hookah][:counts][day.beginning_of_day] || 0
        - 2.times do
          %td= month_data[:watermelon_hookah][:total]
          %td= month_data[:watermelon_hookah][:profits]
      %tr
        %td.td-total-color{colspan: 3} Total by day
        - (month_data[:period_start]..month_data[:period_end]).each do |day|
          %td= month_data[:day_total][day.beginning_of_day] || 0
        %td= month_data[:total_count]
        %td= month_data[:total_profit]
        %td= month_data[:total_count]
        %td= month_data[:total_profit]
      %tr 
        %td{colspan: (month_data[:period_end]-month_data[:period_start]+6).to_i, rowspan: 2}
        %td Divers
        %td
      %tr
        %td.td-total-color Total
        %td.td-total-color= month_data[:total_profit]
    %br

  %table.table-in{style: "float: right;"}
    %tr
      %td.td-total-color Grand Total:
      %td.td-total-color= @total
