%div.promo-form.promo-form-new.promo-form-report 
  %h1.heading.heading-report Report
  = simple_form_for Order.new(date_from: @from.strftime('%m-%Y'), date_to: @to.strftime('%m-%Y'), place_id: @place.id), method: :post, url: orders_getreport_path do |f|
    %div.report-form
      = f.input :date_from, as: :string, input_html: { class: "datepicker" }
      = f.input :date_to, as: :string, input_html: { class: "datepicker" }
      = f.input :place_id, collection: Place.all.order('name ASC').map{|p| [p.name, p.id]}, include_blank: false
      = f.button :submit, "Generate", data: {disable_with: false}
      = f.button :submit, "Generate XLSX", formaction: "#{orders_getreport_path}.xls", data: {disable_with: false}

  #table_report.table-reports
    = render partial: "table"