<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
    <Style ss:ID="s62">
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="<%= @place.name %>">
    <Table>
      <% @report.each do |month_data| %>
        <Row>
          <Cell><Data ss:Type="String"><%= month_data[:period_name]%></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= @place.name%></Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Shishas</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
          <% (month_data[:period_start]..month_data[:period_end]).each do |day| %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= day.strftime('%a').first %></Data></Cell>
          <% end %>
        </Row>
        <Row>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Fruit</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Base</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Price</Data></Cell>
          <% (month_data[:period_start]..month_data[:period_end]).each do |day| %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= day.strftime('%d') %></Data></Cell>
          <% end %>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Total/type</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String">$ by type</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Total mois</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Total $</Data></Cell>
        </Row>
        <% (1..12).each do |id|  %>
          <Row>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:variants][id-1].first %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:variants][id-1].second %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= @place.send(month_data[:variants][id-1].join('_')) %></Data></Cell>
            <% (month_data[:period_start]..month_data[:period_end]).each do |day| %>
              <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:counts]["(\"#{day.to_time.to_s(:db)}\",#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0 %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:totals]["(#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0 %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_profits]["(#{month_data[:variants][id-1].second},#{month_data[:variants][id-1].first})"] || 0 %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:sum_total][month_data[:variants][id-1].first] || 0 if id.in?([1,4,7,10]) %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:sum_total_profits][month_data[:variants][id-1].first] || 0 if id.in?([1,4,7,10]) %></Data></Cell>
          </Row>
        <% end %>
        <Row>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Watermelon hookah</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= @place.watermelon_hookan %></Data></Cell>
          <% (month_data[:period_start]..month_data[:period_end]).each do |day| %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:watermelon_hookah][:counts][day.beginning_of_day] || 0 %></Data></Cell>
          <% end %>
          <% 2.times do %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:watermelon_hookah][:total] %></Data></Cell>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:watermelon_hookah][:total] %></Data></Cell>
          <% end %>
        </Row>
        <Row>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Total by day</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
          <% (month_data[:period_start]..month_data[:period_end]).each do |day| %>
            <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:day_total][day.beginning_of_day] || 0 %></Data></Cell>
          <% end %>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_count] %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_profit] %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_count] %></Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_profit] %></Data></Cell>
        </Row>
        <Row>
          <% (month_data[:period_end]-month_data[:period_start]+6).to_i.times do %>
            <Cell><Data ss:Type="String"></Data></Cell>
          <% end %>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Divers</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"></Data></Cell>
        </Row>
        <Row>
          <% (month_data[:period_end]-month_data[:period_start]+6).to_i.times do %>
            <Cell><Data ss:Type="String"></Data></Cell>
          <% end %>
          <Cell ss:StyleID="s62"><Data ss:Type="String">Total</Data></Cell>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= month_data[:total_profit] %></Data></Cell>
        </Row>
        <Row></Row>
      <% end %>

      <Row>
        <% (@report.last[:period_end]-@report.last[:period_start]+6).to_i.times do %>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>
        <Cell ss:StyleID="s62"><Data ss:Type="String">Grand Total</Data></Cell>
        <Cell ss:StyleID="s62"><Data ss:Type="String"><%= @total %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>