.promo-form.promo-form-center.promo-form-orders
  .order
    %h1.order__heading
      Serving in
      .order__place.place
        .place__name
          %a#placeName.text-value{:href => "#"}= current_user.today_current_place ? current_user.today_current_place.name : 'CHOOSE PLACE'
      %ul.place__list.dropdown-menu.list.hide
        - Place.all.each do |p|
          %li
            %a.list__link= p.name

  .order__form
    = render 'index_form'

  - if current_user.role? 'admin'
    = simple_form_for Order.new(date_from: @from.strftime('%d.%m.%Y'), date_to: @to.strftime('%d.%m.%Y')), method: :get, url: orders_path do |f|
      %div.report-form
        %h1.heading Filter 
        = f.input :date_from, as: :string, input_html: { class: "datepicker-date" }
        = f.input :date_to, as: :string, input_html: { class: "datepicker-date" }
        = f.button :submit, "Filter", data: {disable_with: false}

  .table-wrapper.table-orders-wrapper
    %table.table-in.orders-table
      %tr.table-in__first-tr
        %th(data-label="#") #
        %th.th-total(data-label="Total") Total
        %th.th-time(data-label="Time") Time
        - if current_user.role? 'admin'
          %th.th-waiter(data-label="Waiter") Waiter
          %th.th-place(data-label="Place") Place
      - @orders.each do |order|
        %tr.orders-tr
          %td(data-label="#")= order.id
          %td.td-total(data-label="Total")= "#{order.total.to_f.round(2)} €"
          %td.td-time(data-label="Time")= order.date.strftime('%d.%m.%Y %H:%M:%S %Z')
          - if current_user.role? 'admin'
            %td.td-waiter(data-label="Waiter")= order.user.try(:email)
            %td.td-place(data-label="Place")= order.place.try(:name)
          - if can? :update, order
            %td.no-padding-right.td-edit
              %button.button.button-edit= link_to 'Edit', edit_order_path(order)
          - if can? :destroy, order
            %td.no-padding-right.padding-left.td-delete
              %button.button.button-delete= link_to 'Destroy', order_path(order), |
                  method: :delete,                      |
                  data: { confirm: 'Are you sure?' }    |
    = will_paginate(@orders) 