.promo-form.promo-form-new
  %p.table-text
    %strong Id:
    = @order.id
  %p.table-text
    %strong Date:
    = @order.date.strftime('%d.%m.%Y %H:%M:%S %Z')
  %p.table-text
    %strong Place:
    = @order.place.try(:name)
  %p.table-text
    %strong Based:
    = @order.based
  %p.table-text
    %strong Fruit:
    = @order.aqua
  %p.table-text.role
    %strong Total:
    = @order.total
  = link_to 'Edit', edit_order_path(@order)
  |
  \#{link_to 'Back', orders_path}