= simple_form_for(@photo, html: { multipart: true }) do |f|
  %p.field
    = label_tag 'Place'
    = f.input :place_id, label: false, collection: Place.all.order(:name).map{|p| [p.name, p.id]}
  %p.field
    = label_tag 'Date'
    =f.input :date, label: false, as: :string, input_html: { class: "datepicker-date" }
  %p.field
    =f.input :images, label: 'Select file...', as: :file, input_html: { multiple: 'multiple', accept: "image/*" }
    %span.file-name
  = f.submit 'Save'