.promo-form-center
  %h1 Invoices
  .container-photo
    %p.download-link= link_to 'Download all files', download_photos_path(format: 'zip')
    - @photos.each do |year, data|
      .panel-photo.panel-default
        .panel-heading
          %button.btn.btn-default.btn-xs.spoiler-trigger{"data-toggle" => "collapse", :type => "button"}= year
        .panel-collapse.collapse.out
          .panel-body
            %p.download-link= link_to 'Download this folder', download_photos_path(format: 'zip', year: year)
            - data.each do |place, data|
              .panel-photo.panel-default
                .panel-heading
                  %button.btn.btn-default.btn-xs.spoiler-trigger{"data-toggle" => "collapse", :type => "button"}= place.split('key_separator').first
                .panel-collapse.collapse.out
                  .panel-body
                    %p.download-link= link_to 'Download this folder', download_photos_path(format: 'zip', year: year, place: place.split('key_separator').last)
                    - data.each do |month, data|
                      .panel-photo.panel-default
                        .panel-heading
                          %button.btn.btn-default.btn-xs.spoiler-trigger{"data-toggle" => "collapse", :type => "button"}= month
                        .panel-collapse.collapse.out
                          .panel-body
                            %p.download-link= link_to 'Download this folder', download_photos_path(format: 'zip', year: year, place: place.split('key_separator').last, month: month)
                            - data.each do |day, data|
                              .panel-photo.panel-default
                                .panel-heading
                                  %button.btn.btn-default.btn-xs.spoiler-trigger{"data-toggle" => "collapse", :type => "button"}= day
                                .panel-collapse.collapse.out
                                  .panel-body
                                    %p.download-link= link_to 'Download this folder', download_photos_path(format: 'zip', year: year, place: place.split('key_separator').last, month: month, day: day)
                                    - data.each do |image|
                                      %p.links-delete-wrapper{id: "image#{image[:id]}"}
                                        = link_to image[:filename], image[:url], target: '_blank'
                                        = link_to 'Delete', delete_photo_path(image[:id]), method: :delete, remote: true, data: {confirm: "Deleting «#{image[:filename]}» are you sure?"}
