.promo-form.promo-form-center
  %h1 Upload photos
  = render 'form'
  .table-wrapper.table-orders-wrapper.upload-table-wrapper
    %table.table-in.orders-table.upload-table
      %tr.table-in__first-tr
        %th.th-total(data-label="File") File
        %th.th-time(data-label="Time") Time
        %th.th-place(data-label="Place") Place
      - photos = current_user.photos.order('created_at DESC').paginate(page: params[:page], per_page: 10)
      - photos.each do |photo|
        - photo.images.each do |att|
          %tr.orders-tr
            %td.td-total= link_to att.filename, att, target: '_blank'
            %td.td-time(data-label="Time")= att.created_at
            %td.td-place= photo.place.name
            - if can? :destroy, photo
              %td.no-padding-right.td-delete
                %button.button.button-delete= link_to 'Destroy', delete_photo_path(att.id), |
                    method: :delete,                      |
                    data: { confirm: 'Are you sure?' }    |

  = will_paginate(photos) 
  = link_to 'Back', photos_path