// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-time {
	font-weight: bold;
}
.order {
	&__heading {
		font-size: 14px;
		display: flex;
		align-items: baseline;
		letter-spacing: 0px;
		background: #afd3fd;
		color: #fff;
		height: 35px;
		width: max-content;
		line-height: 33px;
		padding-left: 14px;
		margin-bottom: 20px;
	}
	&__place {
		margin-left: 5px;
	}
}