= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2.heading
        = pluralize(@place.errors.count, "error")
        prohibited
        this place from being saved:
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg
  %p.field
    = f.label :name
    %br/
    = f.text_field :name
  %p.field
    = f.label :currency
    %br/
    = f.select :currency, options_for_currency
  %p.field
    = f.label :apple_on_fresh_juice
    %br/
    = f.text_field :apple_on_fresh_juice
  %p.field
    = f.label :apple_on_milk
    %br/
    = f.text_field :apple_on_milk
  %p.field
    = f.label :apple_on_water
    %br/
    = f.text_field :apple_on_water
  %p.field
    = f.label :grapefruit_on_fresh_juice
    %br/
    = f.text_field :grapefruit_on_fresh_juice
  %p.field
    = f.label :grapefruit_on_milk
    %br/
    = f.text_field :grapefruit_on_milk
  %p.field
    = f.label :grapefruit_on_water
    %br/
    = f.text_field :grapefruit_on_water
  %p.field
    = f.label :melon_on_fresh_juice
    %br/
    = f.text_field :melon_on_fresh_juice
  %p.field
    = f.label :melon_on_milk
    %br/
    = f.text_field :melon_on_milk
  %p.field
    = f.label :melon_on_water
    %br/
    = f.text_field :melon_on_water
  %p.field
    = f.label :pineapple_on_fresh_juice
    %br/
    = f.text_field :pineapple_on_fresh_juice
  %p.field
    = f.label :pineapple_on_milk
    %br/
    = f.text_field :pineapple_on_milk
  %p.field
    = f.label :pineapple_on_water
    %br/
    = f.text_field :pineapple_on_water
  %p.field
    = f.label :watermelon_hookan
    %br/
    = f.text_field :watermelon_hookan
  %p.field-up
    = f.submit