<div class="promo-form promo-form-center">

  <h1>Listing recs</h1>

  <span class="add-new"><%= link_to 'new place', new_place_path %></span>
  <div class="table-wrapper">
    <table class="table-in places-table">
      <tr class="table-in__first-tr">
        <th>ID</th>
        <th>Name</th>
        <th>Currency</th>
      </tr>
     
      <% @places.each do |place| %>
        <tr>
          <td><%= place.id %></td>
          <td><%= place.name %></td>
          <td><%= place.currency %></td>
          <td class="no-padding-right"><button class="button button-show"><%= link_to 'Show', place_path(place) %></button></td>
          <td class="no-padding-right padding-left"><button class="button button-edit"><%= link_to 'Edit', edit_place_path(place) %></button></td>
          <td class="no-padding-right padding-left"><button class="button button-delete"><%= link_to 'Destroy', place_path(place),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>