<div class="promo-form promo-form-center">
	<p class="table-text">
	  <strong>Name:</strong>
	  <%= @place.name %>
	</p>
	 
	<p class="table-text role">
	  <strong>Currency:</strong>
	  <%= @place.currency %>
	</p>

	<%= link_to 'Edit', edit_place_path(@place) %> |
	<%= link_to 'Back', place_path %>
</div>